<p><b>Q. Why Book Train Tickets Online With MakeMyTrip?</b><br>

    A. MakeMyTrip, India's leading travel portal is the best way to book train tickets online.
     No matter where you are in the country, make a hassle-free railway reservation from us using your 
     computer or smartphone. Along with it, you can avail exciting discounts on your first time of 
     booking but also get them on the following rail tickets. Additionally, you will have all the 
     updated information of the seats and classes of trains that are available to book</p><br>

     <p><b>Q. The maximum number of people can book on a single train ticket booking.</b><br>

        A. In one IRCTC ticket booking, there can be a maximum of only six passengers. You can easily add the names and ages of the ones along with whom you are travelling. By hitting on the edit button next to the names, choose each passenger's berth preference. You can also add the other passenger's meal choices on the app. Along with that you also have a few options when it comes to train reservations of six people in a single ticket. 
        You can choose to book when all the berths are in the same coach or if only one or two 
        lower berths are provided.</p><br>


     <p><b>Q. What documents or ID Cards required for online train ticket booking?</b><br>
        A. While you are booking your railway ticket online, you are not required to provide any photo identity card detail. However, you would need to carry one of the identity cards while you are travelling, which includes, Voter photo identity card that has been issued by the Election Commission of India, Passport, Driving Licence that has been issued by RTO, PAN Card that has been issued by Income Tax Department, Student Identity Card with the student's photograph issued by the school or college, National Bank Passbook with photographs, Credit Cards issued by banks with laminated photographs & Aadhaar Card
       </p>Welcome to your own private pad!

Share the URL below and collaborate with your friends.