<div id="div1">
    <form #myForm="ngForm" (ngSubmit)="OnUpdateCallMe(myForm)">
            <legend>Edit User</legend>
        
            <div class="form-group">
                <label for="userId">User Id</label>
                 <input type="text" class="form-control" name="userId" id="userId" [(ngModel)]="user.userId" readonly>
            </div>
        
            <div class="form-group">
                <label for="email">Email</label>
                 <input type="text" class="form-control" name="email" id="email" [(ngModel)]="user.email">
            </div>
        
            <div class="form-group">
                <label for="fname">First Name</label>
                 <input type="text" class="form-control" name="fname" id="fname" [(ngModel)]="user.fName">
            </div>
        
            <div class="form-group">
                <label for="lname">Last Name</label>
                 <input type="text" class="form-control" name="lname" id="lname" [(ngModel)]="user.lName">
            </div>
        
            <div class="form-group">
                <label for="date">DOB</label>
                 <input type="date" class="form-control" name="dob" id="dob" [(ngModel)]="user.dob">
            </div>
        
            <div class="form-group">
                <label for="mobile">Mobile</label>
                 <input type="number" class="form-control" name="mobile" id="mobile" [(ngModel)]="user.mobile">
            </div>
        
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" name="city" id="city" [(ngModel)]="user.city">
            </div>
        
            <div class="form-group">
                <label for="state">State</label>
                 <input type="text" class="form-control" name="state" id="state" [(ngModel)]="user.state">
            </div>
        
            <div class="form-group">
                <label for="pincode">Pincode</label>
                 <input type="number" class="form-control" name="pincode" id="pincode" [(ngModel)]="user.pincode">
            </div>
        
        <button type="submit" class="btn btn-primary">Update</button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="CancelUpdate()">Cancel</button>
        </form>
    </div> 
        
            