<!-- <div class="table-responsive">
    <table class="table">
        <tr *ngFor="let emp of emps">
            <td>{{emp.No}}</td>
            <td>{{emp.Name}}</td>
            <td>{{emp.Age}}</td>
            <td>
                <a routerLink="/edit/{{emp.No}}">edit</a>
            </td>
            <td>
                <a routerLink="/delete/{{emp.No}}">delete</a>
            </td>
        </tr>
    </table>
</div> -->
<body>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="align">
            <img src="assets/images/1.png">
            <br>
            <br>
            <a class="btn btn-primary" href="/search-train" role="button">Plan My Journey</a>
            <a class="btn btn-primary" href="/change-password" role="button">Change Password</a>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="align-items: center;">
            <marquee direction="up">
                    <b>* * * SPECIAL OFFERS * * *</b><br><br>
                    <p>* New year offer : Book today tickets at 10% off</p><br>
                    <p>* 60% off for booking more than 10 tickets  </p><br>
                    <p>* Flat 20% off on using code in last transaction</p>
           </marquee>
    </div>
    
</div>
</body>
